<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="${appName}"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Live wallpaper engine (MO-005). No storage permission is declared
             anywhere in this manifest on purpose: the master file lives in the
             app's private directory and is never exported to the gallery
             (FR-014). -->
        <!-- Its own process on purpose: the system keeps this engine alive for
             as long as the wallpaper is set, while the Flutter process is
             restarted, hot-restarted and killed constantly during development
             and by the OS in production. Sharing a process also means two 4K
             decoders (the app's preview player and this one) competing for the
             same heap. -->
        <service
            android:name=".LiveCanvasWallpaperService"
            android:exported="true"
            android:label="@string/wallpaper_label"
            android:process=":wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livecanvas_wallpaper"/>
        </service>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Android 11+ package visibility: without this, resolveActivity for
             the live-wallpaper picker returns null even when the picker exists,
             so isLiveWallpaperSupported() would report "not supported" on every
             modern device (FR-017 would fire universally). -->
        <intent>
            <action android:name="android.service.wallpaper.CHANGE_LIVE_WALLPAPER"/>
        </intent>
    </queries>
</manifest>
